body {
    width: auto;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 80px 30px;
    background-color: black;
}

i {
    font-size: 50px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 4%;
    color: #D4AFB9;
}

.topcontainer {
    width: 70%;
    display: block;
    text-align: center;
    margin: 0px auto;
    background-color: #6943FF;
    padding: 40px; 
}

h2 {
    width: 100%;
    padding: 0;
    margin: 0px auto;
    font-weight: 800;
    font-size: 40px;
    line-height: 1.2; 
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap; 
}

#number-el {
    display: block;
    width: 20%;
    margin: 50px auto;
    padding: 10px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-size: 58px;
    font-weight: 800;
    text-align: center;
    background-color: #6943FF;
    color: #FFFFFF;
}

#convert-btn {
    width: 20%;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    background-color: #FFFFFF;
    color: black;
}

.bottomcontainer {
    width: 70%;
    margin: 0px auto;
    background-color:#F4F4F4;
    padding: 40px; 
}

h3 {
    display: block;
    width: auto;
    margin: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #3D3D3D;
    text-align: center;
    white-space: nowrap;
    border: none;
    background-color: #FFFFFF;
    padding: 60px 20px;
    color: #5A537B;
}

p {
    font-weight: 400;
    font-size: 18px;
    color: #353535;
    text-align: center;
    white-space: wrap;
}

/* Dark mode styles */
body.dark-mode {
    background-color: #1C1C1C;
    color: #D5D4D8;
}

body.dark-mode .bottomcontainer {
    background-color: #1F2937;
}

body.dark-mode h3 {
    background-color: #273549;
    color: #CCC1FF;
}

body.dark-mode p {
    color: #FFFFFF;
}
